.captionList {
  overflow-y: "auto";
  background: "#fafafa";
  padding-bottom: 1rem;
  

  display: flex;
  flex-direction: column;
}

.captionItem {
  font: var(--primary-medium-font);
  color: "#222";
  padding: 0.5rem 0.25rem 0.75rem 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.captionItem.active {
  background-color: var(--tertiary-hover-color);
  border-radius: var(--primary-border-radius);
}

.captionTime {
  padding: 0.5rem 0.75rem;
  font: var(--primary-bold-small-font);
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  align-self: flex-start;
  user-select: none;
}

.captionTime:hover {
  background-color: var(--tertiary-hover-color);
}

.captionText {
  padding: 0 0.75rem;
}